body{
    margin:0px;
}

.container{
    width:80%;
    margin: auto;
}

ul,li{
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0px;
}

%mybutton{
    padding: 10px;
    background-color: orangered;
    color:white;
    font-size: 25px;
}